*{
    box-sizing: border-box;
}
body{
    font-family: Ubuntu, sans-serif;
    min-height: 100vh;
    background-image: url("../img/bg.jpg");
}

h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: min-content;
    border-radius: 10px;
    user-select: none;
    z-index: 2;
    opacity: 0.8;
}
span{
    /* background-color: red; */
}